@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-size: 20px;
  color: rgb(210, 194, 213);
  font-family: 'Poppins', sans-serif;
  background-color: #0b0613;
}

.wrapper {
    margin: 0 auto;
    max-width: 1060px;
}

::selection {
  background-color: #9b9566;
}

a {
  color: #8d52ff;
  text-decoration: none;
}

a:hover {
  color: #f8e008;
  text-decoration: underline;
}

/* hi */
.greeting {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  margin: 75px 50px 50px 50px;
  justify-content: start;
}

.hi {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  padding: 0 50px;
  line-height: 2;
  color: #8d52ff;
}

.wave {
  font-size: 3rem;
  margin-left: 50px;
}

.wave:hover {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

/* ABOUT STYLIMG */

.about {
  padding: 0 100px;
}

/* contact */
.contact {
    margin-top: 30px;
    padding: 0 100px;
}
