@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  color: #3E363F;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 243, 231, .4);
}
.wrapper {
    margin: 0 auto;
    max-width: 1060px;
}

::selection {
  background-color: #FFE6D1;
}

a {
  color: rgba(250, 91, 70);
  text-decoration: none;
}

a:hover {
  color: #FFAF8A;
}

/* NAV STYLING */
nav {
  display: grid;
  grid-auto-flow: column;
  height: 100px;
  padding: 10px 50px;
}

#title {
  display: grid;
  grid-auto-flow:column;
  justify-content: start;
  align-items: center;
}

.nav-links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow:column;
  grid-gap: 1.5em;
}

.nav-links a {
  font-family: 'DM Serif Text', serif;
  font-weight: 600;
  font-size: 1.4rem;
  color: #3E363F;
}

.nav-links a:hover, .name a:hover  {
  color: rgba(250, 91, 70);
}

.name {
  font-family:'DM Serif Text', serif;
  font-weight: 700;
}

.name a {
  color: #505050;
  font-size: 1.4rem;
}

/* HI STYLING */
.hero {
  display: grid; 
  place-items: center;
  grid-auto-flow: column;
  margin: 150px 50px;
}

.hi {
  font-size: 2rem;
  padding: 0 50px;
  line-height: 2;
  font-family: 'DM Serif Text', serif;
  color: rgba(250, 91, 70);
  font-weight: bold;
}

.wave {
  font-size: 3rem;
  margin-left: 50px;
}

.wave:hover {
  animation: wave-animation 0.3s infinite;
}

/* PROJECTS STYLING */

main {
  margin: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2em;
  height: 100px;
}

.project {
  background-color:rgba(255,175,138, .7);
  display: grid;
  place-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #3E363F;
}

.project:hover {
  opacity: 0.75;
  color: #fff;
  background-color: rgba(128,155,206);
}

/* ABOUT STYLIMG */

h2 {
  font-family: 'DM Serif Text', serif;
  font-weight: 700;
}

.about {
  padding: 0 100px;
}

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

  /* BLOG STYLING */
  .blog-list {
    margin: 0 75px;
  }

  .blog-list a {
    color: #3E363F
  }

  .blog-post {
    margin: 0 75px;
  }

  /* POST STYLING */
  .post-url:hover {
    color: #FFAF8A;
  }

  .post-category {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #FFAF8A;
    font-weight: 600;
    color: #809BCE
  }

  .post-category:hover {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #809BCE;
    font-weight: 600;
  }

  .post-category:active {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #809BCE;
    font-weight: 600;
  }

  h1.post-title {
    font-size: 2rem;
    margin-bottom: 0px;
  }

  p.post-info {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }