@import url('https://fonts.googleapis.com/css?family=DM+Serif+Text|Montserrat&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

/* structure */

body {
  margin: 0;
  height: 100%;
  font-size: 18px;
  color: rgba(33, 77, 108, 0.88);
  font-family: 'Montserrat', sans-serif;
  background-color:rgba(207, 206, 234);
}
.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-auto-rows: 1fr; creates weird spacing between headers and items*/
}

.media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  
}

.side-project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

/* style */
.hi {
  padding-top: 50px;
  padding-left: 50px;
  padding: right: 50px;
  font-size: 3em;
}

.about {
  padding: 0px 50px;

}
/*


.wave {
  font-size: 3rem;
  margin-left: 50px;
}

.wave:hover {
  animation: wave-animation 0.3s infinite;
} */

/* PROJECTS STYLING */

/* main {
  margin: 50px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2em;
  height: 100px;
}

.project {
  background-color:rgba(255,175,138, .7);
  display: grid;
  place-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #3E363F;
}

.project:hover {
  opacity: 0.75;
  color: #fff;
  background-color:rgba(97, 67, 187, 0.88);
} */

/* ABOUT STYLIMG */

/* h2 {
  font-family: 'DM Serif Text', serif;
  font-weight: 700;
}

.about {
  padding: 0 100px;
} */

/* @keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
} */

  /* BLOG STYLING */
  /* .blog-list {
    margin: 0 75px;
  }

  .blog-list a {
    color: #3E363F
  }

  .blog-post {
    margin: 0 75px;
  } */

  /* POST STYLING */
  /* .post-url:hover {
    color:rgba(119, 98, 239);
  }

  .post-category {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:rgba(97, 67, 187, 0.88);
    font-weight: 600;
    color:rgba(119, 98, 239);
  }

  .post-category:hover {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:rgba(119, 98, 239);
    font-weight: 600;
  }

  .post-category:active {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:rgba(119, 98, 239);
    font-weight: 600;
  }

  h1.post-title {
    font-size: 2rem;
    margin-bottom: 0px;
  }

  p.post-info {
    font-size: 1.2rem;
    margin-bottom: 40px;
  } */